<!DOCTYPE html>
<html>
<head>
  <title>Shouter</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% if logged_in? %>
    <%= link_to 'New Shout', new_shout_path %>
    <%= link_to 'Logout', logout_path %>
    <%= link_to 'Profile', user_path(current_user) %>
  <% else %>
    <%= link_to 'Login', login_path %>
    <%= link_to 'Sign-up', signup_path %>
  <% end %>
<%= yield %>

</body>
</html>
